.tools-container h1 {
  margin-top: 40px;
  font-size: 40px;
}
.tools-container p {
  margin: 0 auto;
  padding-bottom: 20px;
  padding-top: 20px;
  font-style: normal;
}

.video-container video {
  width: 50%;
  height: 50%;
  margin: 0 auto;
}

.video-container-next video {
  margin-top: 20px;
  width: 70%;
  margin: 0 auto;
}

.video-overlay i {
  font-size: 20px;
  cursor: pointer;
}

#carouselExample {
  max-width: 80%;
  align-items: center;
  margin: 0 auto;
}
.carousel-control-prev {
  padding-top: 45px;
  padding-left: 55px;
}
.carousel-control-next {
  padding-top: 45px;
  padding-right: 55px;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  background-color: black;
}

@media (max-width: 800px) {
  .tools-container h1 {
    font-size: 20px;
  }
  .carousel-control-prev-icon,
  .carousel-control-next-icon {
    background-color: black;
  }
  #carouselExample {
    max-width: 80%;
    align-items: center;

    margin: 0 auto;
  }
  .carousel-control-prev {
    padding-top: 25px;
    padding-left: 25px;
  }
  .carousel-control-next {
    padding-top: 25px;
    padding-right: 25px;
  }
}
